{% extends 'base.html' %}

<div class="row">
    <div class="large-8 columns">
        <h1>Titulo da página</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro, voluptatum, libero inventore nulla deleniti unde dicta nostrum quia perspiciatis veritatis rem harum dolor alias sit molestias vitae repellat necessitatibus reiciendis sunt ducimus doloribus possimus nemo a rerum veniam eaque facilis error architecto tempora voluptatem. A, aliquid, illum rem amet laudantium repellendus iste placeat ipsam quis quae omnis est? Minima, deleniti, quidem, atque tempora eligendi totam voluptas vel pariatur quasi ipsam neque consequatur nisi laudantium recusandae amet suscipit facilis assumenda molestias qui sunt? Dolores, eveniet cupiditate facere sint maxime dolorum! Eaque, quod nobis molestiae alias modi culpa sapiente natus sed labore.</p>
    </div>
    <div class="large-4 columns">
        <h3>Sidebar</h3>
        <ul>
            <li><a href="">Lorem ipsum.</a></li>
            <li><a href="">Ipsam, nemo.</a></li>
            <li><a href="">Doloremque, harum.</a></li>
            <li><a href="">Repellat, consequuntur.</a></li>
            <li><a href="">Ex, alias.</a></li>
        </ul>
    </div>
</div>